{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Titulo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alumnos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nuevo</a>
          <a class="dropdown-item" href="#">Existente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Examenes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nuevo</a>
          <a class="dropdown-item" href="#">Anteriores</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instructores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nuevo</a>
          <a class="dropdown-item" href="#">Existente</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="nav-link" href="#">Cerrar sesion</a>
  </div>
</nav>

<form>
  <div class="container">
    <div class="row align-items-center">
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input class="form-control" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label>Apellido</label>
        <input class="form-control" placeholder="Apellido">
      </div>
      <div class="form-group col-md-6">
        <label>Edad</label>
        <input class="form-control" placeholder="Edad">
      </div>
      <div class="form-group col-md-6">
        <label>Ciudad</label>
        <input class="form-control" placeholder="Ciudad">
      </div>
      <div class="form-group col-md-6">
        <label>Número libreta</label>
        <input class="form-control" placeholder="Número libreta">
      </div>
      <div class="form-group col-md-6">
        <label>Categoria</label>
        <select class="form-control">
          <option selected>Blanco (10° GUP)</option>
          <option>Punta amarilla (9° GUP)</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>

{% endblock content %}
