{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Titulo</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="text" class="form-control mr-sm-2" placeholder="Usuario">
      <input type="password" class="form-control mr-sm-2" placeholder="Contraseña">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Iniciar</button>
    </form>
  </div>
</nav>

{% endblock content %}
